gspread
oauth2client
pandas
numpy
spacy
scikit-learn
seaborn
matplotlib
plotly
sentence-transformers
faiss-cpu
fastapi
uvicorn
requests
apscheduler
streamlit>=1.31.0
altair>=5.0.0
groq
load_dotenv
scikit-learn
